/* *** HOJA DE CONTACTE *** */
/* Listas */
.quadreContacte .non-margin-left
{
  margin-left: -25px;  
}

.quadreContacte .txt-contacte > ul
{
  margin-top: 10px;
}

/* Imágenes */
.quadreContacte img{
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.quadreContacte .icono-navegador{
  /*background-color: red; */
  width: 80px;
  margin:auto; /* Eliminando esto únicamente, se alinea o se centra la imagen */
}

/* TEMPLATES */
.quadreContacte .txt-contacte > ul
{
  margin-top: 10px;
}

.quadreContacte .txt-contacte > ul > li
{
  margin-top: 5px;
}

/* Cuadro que engloba títulos y texto */
.quadreContacte{  
  border: 1px solid #ccc;
  border-style: solid solid solid solid;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
} /*
@media (min-width: 767px){
 .quadreContacte{  
   margin-left: 8px;
   margin-right: 8px;
 }
}
*/

/* El primer título de cada cuadro no es de color gris, sino que tiene la imagen shadow */ */
.titol-contacte:first-child{  
  background: #fff url(../images/icons/shadow.jpg) bottom repeat-x;
}

.titol-contacte{
  
  background: none repeat scroll 0% 0% #F7F7F7;
  
  border: 0px solid #ccc;
  border-style: solid solid solid solid;
  border-top: 0px solid #b2b2b2;
  border-bottom: 0px solid #b2b2b2;
  border-left: 0px solid #b2b2b2;
  border-right: 0px solid #b2b2b2;  
  
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  
   /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
  font: 0.8em verdana, arial, helvetica, sans-serif;
  font-weight: bold;
}

.txt-contacte{  
  border: 0px solid #ccc;
  border-style: solid solid solid solid;
  border-top: 0px solid #b2b2b2;
  border-bottom: 0px solid #b2b2b2;
  border-left: 0px solid #b2b2b2;
  border-right: 0px solid #b2b2b2;  
  
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  /* color: #007bc0; */
  
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); */
  font: 0.8em verdana, arial, helvetica, sans-serif;
  text-align: justify;
}

.quadreContacte .titol
{
  margin-top: 5px;
  margin-bottom: 2px;
  color: #007bc0;  
  font: 1.5em verdana, arial, helvetica, sans-serif;
}