iframe {
    width: 100%; 
    padding: 0px;
 	margin: 0px; /* marginheight="0" marginwidth="0" */ 	
 	border: 0px none; 
 	overflow: hidden;
 	background-color: transparent;
}

#iframePersona { 
 	margin-top: 10px;
}
#iframeHorari {  
 	margin-bottom: 10px;
}
#iframeMarcatges, #iframeAbsencies, #iframePermisos,  #iframeHoraris {
	margin-top: 15px;
}
.scrollYframePersona {
	height: 110px;
	/* Regula l'scroll vertical(y) i horitzontal(x) */	
	overflow-y: auto;
	overflow-x: hidden;
}
.scrollYframeShow {
	height: 910px;
	overflow-y: auto;
	overflow-x: hidden;
}

img {
	border: 0;
}

legend {
	margin-left: 15px;
}

/* Classes per ajudar a solucionar problemes comuns CSS*/

/* Per posicionar elements un al costat del altre */
.floatLeft
{
	float:left;
}

.floatRight
{
	float:right;
}

.clear
{
	clear:both;
}

/* Per separar/centrar elements que estan al costat */
.smallPadding
{
	padding: 3px;
}
.padding
{
	padding: 5px;
}
.paddingBottom
{
	padding-bottom: 5px;
}
.bigPadding
{
	padding: 10px;
}

.marginRight
{
	margin-right: 50px;
}
.marginSmallRight
{
	margin-right: 15px;
}
.marginTop
{
	margin-top: 10px;
}


/* Textboxes de 40 caràcters */
.width40chars
{
	width:280px;
}

/* DropDownBoxes de mida per defecte nom�s per a firefox
// TODO: fer per tots els browsers: http://www.icant.co.uk/forreview/tamingselect/
*/
.dropdownMediumWidth
{
	width:142px;
}


/*Cursor hand*/
.hand
{
	cursor: pointer;
	margin-top: 3px;
}

/*Conversió de text a majuscules*/
.majuscules
{
	text-transform:uppercase;
}


/* Icona de carregant */
#preloader {
  width:100%; height:100%; margin:0; padding:0;
  background:#fff
    url('../images/loading.gif')
    no-repeat center center;
    position:absolute;
    z-index:999;
}

#preloaderPackman {
  width:100%; height:100%; margin:0; padding:0;
  background:#fff
    url('../images/ajax-loader.gif')
    no-repeat center center;
    position:absolute;
    z-index:999;
}

/* Per treure l'estil (puntet) de la llista*/
.unstiledList
{
	list-style:none;
}

/* Per evitar el float*/
.clearFloat
{
	clear:both;
}

/* Garbage */
.border
{
	border:1px solid #cccccc;
}

.width250px
{
	width:250px;
}

.width200px
{
	width:200px;
}

.width175px
{
	width:175px;
}

.width150px
{
	width:150px;
}

.width133px
{
	width:133px;
}

.width120px
{
	width:120px;
}

.width100px
{
	width:100px;
}

.width90px
{
	width:90px;
}

.width85px
{
	width:85px;
}

.width80px
{
	width:80px;
}

.width75px
{
	width:75px;
}

.width70px
{
	width:70px;
}

.width60px
{
	width:60px;
}

.width50px
{
	width:50px;
}

.width40px
{
	width:40px;
}

.width30px
{
	width:30px;
}

.width05p
{
	width:05%;	
}

.width10p
{
	width:10%;	
}

.width15p
{
	width:15%;	
}

.width20p
{
	width:20%;	
}

.width25p
{
	width:25%;	
}

.width30p
{
	width:30%;	
}

.width33p
{
	width:33%;	
}

.width35p
{
	width:35%;	
}

.width40p
{
	width:40%;	
}

.width45p
{
	width:45%;	
}

.width50p
{
	width:50%;	
}

.width55p
{
	width:55%;	
}

.width60p
{
	width:60%;	
}

.width65p
{
	width:65%;	
}

.width70p
{
	width:70%;	
}

.width75p
{
	width:75%;	
}

.width80p
{
	width:80%;	
}

.width85p
{
	width:85%;	
}

.width90p
{
	width:90%;	
}

.width95p
{
	width:95%;	
}

.width100p
{
	width:100%;	
}

.noSuperiorMargin
{
	margin: 0.0em 0 0.3em;
}